@charset "utf-8";
.header {
    font-size: 20px;
}
#docs,
#excel,
#text {
    background-color: #eee;
    color: #000;
    font-size: 15px;
}
#table {
    border: 1px solid #000;
    background-color: #f0593e;
    color: #eee;
}
.back {
    text-decoration: none;
    color: red;
    font-size: 15px;
    border: 1px solid #000;
    background-color: rgb(36, 79, 92);
}